* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

#app {
  height: 100vh;
  flex-grow: 1;
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

button.menu__item {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid transparent;
  transition: 0.1s;
}

button.menu__item:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

#output {
  position: fixed;
  max-height: 100vh;
  top: 1rem;
  left: 1rem;
  padding-bottom: 2rem;
  overflow: scroll;
}

#output::-webkit-scrollbar {
  display: none;
}

#output .table {
  font-size: 1.25rem;
}

#output table:not(:last-child) {
  margin-bottom: 1rem;
}

#output table {
  border-collapse: collapse;
}

#output table caption {
  font-size: 0.875rem;
  cursor: pointer;
}

#output table th {
  background: rgba(0, 0, 0, 0.15);
}

#output table th,
#output table td {
  text-align: center;
  min-width: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.prompt {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
}

.prompt input {
  outline: none;
  border: none;
  padding: 0.25rem 0.5rem;
}

.prompt button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}