* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

#app {
  height: 100vh;
  flex-grow: 1;
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

button.menu__item {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid transparent;
  transition: .1s;
}

button.menu__item:hover {
  border-color: rgba(0, 0, 0, 0.2);
}
